/* CSS Document */



.main-logo{
	position: absolute;
    left: 50%;
    margin-left: -25px !important;  /* 50% of your logo width */
    display: block;
}

.main-logo:hover{
	opacity: 0.8;
}

#navigation-menu a:hover{
	color:#FCC;
}

#navigation-menu {
	font-size:13px;	
}

.embed-responsive-item {
    max-width: 1280px;
}

.sizer{
	width:400px;
}

#image-on-the-back{
	background-image:url(../img/slide-1.jpg);
	background-repeat:no-repeat;
	background-size:cover;
    background-color: #F9DBF1;
	padding:50px;
	height:300px;
}

.lead-intro{
	padding-top:70px;
}


